/* Background styling */
.main-bg {
  background: #009688; 
  color: white;
  min-height: 100vh;
}

/* Logo styling */
.logo {
  height: 50px;
}

/* Language styling */
.language-text {
  font-size: 18px;
}

/* Title styling */
.my-account-title {
  font-size: 3rem;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Description styling */
.description-text {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Button styling */
button i {
  color: white;
}
